{% extends "layout.html" %}

{% block title %}
    Index2
{% endblock %}

{% block main %}
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for share in shares %}
                    <tr>
                        <td> {{ share.symbol }} </td>
                        <td> {{ share.number }} </td>
                        <td> {{ share.price }} </td>
                        <td> {{ share.total }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td> CASH: {{ cash }} </td>
                        <td> TOTAL: {{ total }}</td>
                    </tr>
            </tbody>
        </table>
    </div>
{% endblock %}